.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid $black;
    margin-bottom: 20px;

    img{
        width: 70px;

        &:hover{
            cursor: pointer;
        }
    }


    &__nav{
        @include flexCenterColumn;
        position: relative;
        text-transform: uppercase;
        font-weight: bold;

        p{
            &:hover{
                cursor: pointer;

                &::before{
                    content: '';
                    width: 40px;
                    background-color: $black;
                    height: 3px;
                    position: absolute;
                    top: 20px;
                    animation: appear 0.3s linear forwards;
                }
            }
        }

        ul{
            position: absolute;
            top: 20px;
            width: 130px;
            background-color: $white;
            text-transform: none;
            border: $borderBlack;

            li{
                &:hover{
                    cursor: pointer;
                    background-color: aquamarine;
                }
            }
        }
    }
}

@keyframes appear {
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    }
    100%{
        width: 100%;
    }
}